@page "/polls"
@using BlazorApp.Shared

@inject HttpClient Http
<h3>Badanie Preferencji Płatkowo-Mlecznych</h3>
<a href="https://forms.gle/Pv6h2GsWZttbPMWW9">&rarr; Ankieta dostępna tutaj &larr;</a>
<br/>
<a href="https://docs.google.com/spreadsheets/d/1W4iG--Nq7bX-_i_WXkPkvZBt8i-jDHEUG7t80cyH5tU/edit?usp=sharing">&rArr; Wyniki &lArr;</a>

@if (AllPolls == null)
{
    <p><em>Loading...</em></p>
}

@code {
    private Poll[] AllPolls;
}
