@page "/projects"
@using Models
@using BlazorApp.Shared

@inject HttpClient Http
<h3>Projects</h3>
@if (AllProjects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    

    @foreach (var project in AllProjects)
    {
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@project.Name</h5>
            <p class="card-text">@project.Description</p>
            <a href="@project.URL" class="btn btn-primary">See for yourself</a>
        </div>
    </div>
    }

   
}



@code {
    private Project[] AllProjects;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AllProjects = await Http.GetFromJsonAsync<Project[]>("/api/Projects");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
