@page "/projects"
@using BlazorApp.Shared

@inject HttpClient Http
<h3>Projects</h3>
@if (AllProjects == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="d-flex p-2 flex-wrap">

    @foreach (var techn in Technologies)
    {
        <div class="card" style="width: 18rem;">
            <img src="@techn.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@techn.Name</h5>
                <a href="/projects/@techn.Name" class="btn btn-primary">Check Out My Projects</a>
            </div>
        </div>
    }

</div>
   
}



@code {
    private Project[] AllProjects;
    private List<string> techNames = new List<string>();
    private List<Technology> Technologies = new List<Technology>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AllProjects = await Http.GetFromJsonAsync<Project[]>("/api/Projects");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            AllProjects = Project.GetExample();
        }
        foreach (Project pr in AllProjects)
        {
            if (!techNames.Contains(pr.Technology.Name))
            {
                Technologies.Add(pr.Technology);
                techNames.Add(pr.Technology.Name);
            }
        }


    }
}
